asgiref==3.8.1
cffi==1.16.0
distlib==0.3.8
Django==5.1.1
et-xmlfile==1.1.0
filelock==3.15.4
image==1.5.33
numpy==2.0.0
openpyxl==3.1.4
pandas==2.2.2
pillow==10.3.0
platformdirs==4.2.2
psycopg2==2.9.9
pycparser==2.22
pygame==2.5.2
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
soundfile==0.12.1
speedtest==0.0.1
sqlparse==0.5.1
stdiomask==0.0.6
tzdata==2024.1
virtualenv==20.26.3
xlrd==2.0.1
