{% extends 'base.html' %}

{% block content %}

{% for drug in druglist %}
    <ul>

        <li><p>{{drug.name}}</p> | <a href="{% url 'drug_deleteview' drug.id %}">Deletar</a></li>
        <a href="{% url 'drug_updateview' drug.id %}">Atualizar</a>
    </ul>
{% endfor %}

<input type="button" value="Cadastrar Medicamentos" onclick="location.href='{% url 'drug_createview' %}'">


<style>
    ul li p {
        color: rgb(255, 255, 255);
        padding: 5px 15px;
    }

    input {
        background-color: orange;
        color: rgb(0, 42, 90);
        border-radius: 5px 15px;
    }

</style>

{% endblock %}